(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
f_i,
f_l,
ordfeminine,
ordmasculine,
Gamma,
Delta,
Pi,
Omega,
pi,
uni0621,
uni0674,
uniFE80,
uni0627,
uniFE8D,
uniFE8E,
uni0623,
uniFE83,
uniFE84,
uni0625,
uniFE87,
uniFE88,
uni0622,
uniFE81,
uniFE82,
uni066E,
uni066E.fina,
uni0628,
uniFE8F,
uniFE90,
uniFE92,
uniFE91,
uni067E,
uniFB56,
uniFB57,
uniFB59,
uniFB58,
uniFBE9,
uniFBE8,
uni062A,
uniFE95,
uniFE96,
uniFE98,
uniFE97,
uni062B,
uniFE99,
uniFE9A,
uniFE9C,
uniFE9B,
uni062C,
uniFE9D,
uniFE9E,
uniFEA0,
uniFE9F,
uni0686,
uniFB7A,
uniFB7B,
uniFB7D,
uniFB7C,
uni062D,
uniFEA1,
uniFEA2,
uniFEA4,
uniFEA3,
uni062E,
uniFEA5,
uniFEA6,
uniFEA8,
uniFEA7,
uni062F,
uniFEA9,
uniFEAA,
uni0630,
uniFEAB,
uniFEAC,
uni0631,
uniFEAD,
uniFEAE,
uni0632,
uniFEAF,
uniFEB0,
uni0695,
uni0695.fina,
uni0698,
uniFB8A,
uniFB8B,
uni0633,
uniFEB1,
uniFEB2,
uniFEB4,
uniFEB3,
uni0634,
uniFEB5,
uniFEB6,
uniFEB8,
uniFEB7,
uni0635,
uniFEB9,
uniFEBA,
uniFEBC,
uniFEBB,
uni0636,
uniFEBD,
uniFEBE,
uniFEC0,
uniFEBF,
uni0637,
uniFEC1,
uniFEC2,
uniFEC4,
uniFEC3,
uni0638,
uniFEC5,
uniFEC6,
uniFEC8,
uniFEC7,
uni0639,
uniFEC9,
uniFECA,
uniFECC,
uniFECB,
uni063A,
uniFECD,
uniFECE,
uniFED0,
uniFECF,
uni0641,
uniFED1,
uniFED2,
uniFED4,
uniFED3,
uni06A4,
uniFB6B,
uniFB6D,
uniFB6C,
uni06A1,
uni06A1.fina,
uni06A1.medi,
uni06A1.init,
uni066F,
uni066F.fina,
uni0642,
uniFED5,
uniFED6,
uniFED8,
uniFED7,
uni0643,
uniFED9,
uniFEDA,
uniFEDC,
uniFEDB,
uni06A9,
uniFB8E,
uniFB8F,
uniFB91,
uniFB90,
uni06AF,
uni06AF.ref1,
uniFB92,
uniFB93,
uniFB93.ref1,
uniFB95,
uniFB95.ref1,
uniFB94,
uniFB94.ref1,
uni0644,
uniFEDD,
uniFEDE,
uniFEE0,
uniFEDF,
uni06B5,
uni06B5.init,
uni06B5.medi,
uni06B5.fina,
uni0645,
uniFEE1,
uniFEE2,
uniFEE4,
uniFEE3,
uni0646,
uniFEE5,
uniFEE6,
uniFEE8,
uniFEE7,
uni06BA,
uniFB9E,
uniFB9F,
uni0647,
uniFEE9,
uniFEEA,
uniFEEC,
uniFEEB,
uni06C0,
uniFBA5.fina,
uni06BE,
uniFBAD,
uniFBAC,
uni0629,
uniFE93,
uniFE94,
uni0648,
uniFEED,
uniFEEE,
uni06CA,
uni06CA.fina,
uni0624,
uniFE85,
uniFE86,
uni06C6,
uniFBDA,
uni0649,
uniFEEF,
uniFEF0,
uni064A,
uniFEF1,
uniFEF2,
uniFEF2.compact,
uniFEF4,
uniFEF3,
uni0626,
uniFE89,
uniFE8A,
uniFE8A.compact,
uniFE8C,
uniFE8B,
uni06CE,
uni06CE.fina,
uni06CE.fina.compact,
uni06CE.medi,
uni06CE.init,
uni06CC,
uniFBFC,
uniFBFD,
uniFBFD.compact,
uniFBFF,
uniFBFE,
uni06D5,
uni06D5.fina,
uniFE71,
uniFE73,
uniFE7B,
uni0640,
uniFE77,
uniFE79,
uniFE7D,
uniFE7F,
uniFEFB,
uniFEFC,
uniFEF7,
uniFEF8,
uniFEF9,
uniFEFA,
uniFEF5,
uniFEF6,
uniFDF2,
uni066B,
uni066C,
uni0660,
uni0661,
uni0662,
uni0663,
uni0664,
uni0665,
uni0666,
uni0667,
uni0668,
uni0669,
uni06F0,
uni06F1,
uni06F2,
uni06F3,
uni06F4,
uni06F5,
uni06F6,
uni06F7,
uni06F8,
uni06F9,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
uni2074,
space,
uni00A0,
uni200B,
uni200C,
uni200D,
uni202F,
CR,
.notdef,
.null,
CR.001,
uni060C,
uni061B,
uni061F,
uni060D,
uniFD3E,
uniFD3F,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
uni00AD,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
uniFDFC,
uni066A,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
uni2113,
daggerdbl,
estimated,
uni2116,
Euro,
cent,
currency,
dollar,
sterling,
yen,
plus,
minus,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
uni2126,
uni2206,
product,
summation,
radical,
mu,
partialdiff,
percent,
perthousand,
uni2215,
uni2219,
lozenge,
uni0615,
uni0670,
uni0654,
uni0654064E,
uni0654064F,
uni0655,
uni064B,
uni064B0651,
uni064C,
uni064D,
uni064E,
uni064E0651,
uni064F,
uni0650,
uni0651,
uni0651064B,
uni0651064C,
uni0651064E,
uni0651064F,
uni0652,
uni0653,
uni0657,
uni065A,
uniFE7A,
uniFE70,
uniFE72,
uniFE74,
uniFE76,
uniFE78,
uniFE7C,
uniFE7E,
commaaccentcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
uni02C9,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
hungarumlaut.case,
uniE0FF,
uniEFFD,
uniF000,
Cedilla,
Circumflex,
Ring,
Tilde,
Acute,
Caron,
Dieresis,
Grave,
Breve,
arabic_2dots,
arabic_3dots,
arabic_3dots_a,
arabic_dot,
arabic_gaf_bar,
foundry,
noBreak,
NameMe.303,
NameMe.304,
NameMe.305,
NameMe.306,
NameMe.65541,
NameMe.65542,
NameMe.65567,
NameMe.65574,
lamVabove_alef.isol
)