(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Eogonek,
Etilde,
Schwa,
Ezh,
Ezhcaron,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gstroke,
H,
Hbar,
Hcaron,
Hcircumflex,
I,
IJ,
Iacute,
Ibreve,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
Iogonek,
Itilde,
J,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Ygrave,
Yhookabove,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adotbelow,
agrave,
ahookabove,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
eogonek,
etilde,
schwa,
ezh,
ezhcaron,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gstroke,
h,
hbar,
hcaron,
hcircumflex,
i,
idotless,
iacute,
ibreve,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jcircumflex,
k,
kcaron,
kcommaaccent,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ntilde,
eng,
o,
oacute,
obreve,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
ygrave,
yhookabove,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
fi,
fl,
ordfeminine,
ordmasculine,
"Dzeabkhasian-cy",
"dzeabkhasian-cy",
"de-cy.loclBGR",
Gamma,
Delta,
Pi,
Omega,
mu,
pi,
"highhamza-ar",
"alef-ar",
"alef-ar.fina",
"alefHamzaabove-ar",
"alefHamzaabove-ar.fina",
"alefHamzabelow-ar",
"alefHamzabelow-ar.fina",
"alefMadda-ar",
"alefMadda-ar.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.init",
"beh-ar",
"beh-ar.fina",
"beh-ar.medi",
"beh-ar.init",
"peh-ar",
"peh-ar.fina",
"peh-ar.medi",
"peh-ar.init",
"alefMaksura-ar.medi",
"alefMaksura-ar.init",
"teh-ar",
"teh-ar.fina",
"teh-ar.medi",
"teh-ar.init",
"theh-ar",
"theh-ar.fina",
"theh-ar.medi",
"theh-ar.init",
"jeem-ar",
"jeem-ar.fina",
"jeem-ar.medi",
"jeem-ar.init",
"tcheh-ar",
"tcheh-ar.fina",
"tcheh-ar.medi",
"tcheh-ar.init",
"hah-ar",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.init",
"khah-ar",
"khah-ar.fina",
"khah-ar.medi",
"khah-ar.init",
"dal-ar",
"dal-ar.fina",
"thal-ar",
"thal-ar.fina",
"reh-ar",
"reh-ar.fina",
"zain-ar",
"zain-ar.fina",
"rehVbelow-ar",
"rehVbelow-ar.fina",
"jeh-ar",
"jeh-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sheen-ar",
"sheen-ar.fina",
"sheen-ar.medi",
"sheen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"dad-ar",
"dad-ar.fina",
"dad-ar.medi",
"dad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"zah-ar",
"zah-ar.fina",
"zah-ar.medi",
"zah-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ghain-ar",
"ghain-ar.fina",
"ghain-ar.medi",
"ghain-ar.init",
"feh-ar",
"feh-ar.fina",
"feh-ar.medi",
"feh-ar.init",
"veh-ar",
"veh-ar.fina",
"veh-ar.medi",
"veh-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar",
"qafDotless-ar.fina",
"qaf-ar",
"qaf-ar.fina",
"qaf-ar.medi",
"qaf-ar.init",
"kaf-ar",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"keheh-ar.medi",
"keheh-ar.init",
"gaf-ar",
"gaf-ar.fina",
"gaf-ar.medi",
"gaf-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.init",
"lamVabove-ar",
"lamVabove-ar.init",
"lamVabove-ar.medi",
"lamVabove-ar.fina",
"meem-ar",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"noon-ar",
"noon-ar.fina",
"noon-ar.medi",
"noon-ar.init",
"noonghunna-ar",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehHamzaabove-ar",
"hehHamzaabove-ar.fina",
"hehDoachashmee-ar",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.init",
"tehMarbuta-ar",
"tehMarbuta-ar.fina",
"waw-ar",
"waw-ar.fina",
"wawTwodots-ar",
"wawTwodots-ar.fina",
"wawHamzaabove-ar",
"wawHamzaabove-ar.fina",
"oe-ar",
"oe-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"yeh-ar",
"yeh-ar.fina",
"yeh-ar.fina.compact",
"yeh-ar.medi",
"yeh-ar.init",
"yehHamzaabove-ar",
"yehHamzaabove-ar.fina",
"yehHamzaabove-ar.fina.compact",
"yehHamzaabove-ar.medi",
"yehHamzaabove-ar.init",
"yehVabove-ar",
"yehVabove-ar.fina",
"yehVabove-ar.fina.compact",
"yehVabove-ar.medi",
"yehVabove-ar.init",
"yehFarsi-ar",
"yehFarsi-ar.fina",
"yehFarsi-ar.fina.compact",
"yehFarsi-ar.medi",
"yehFarsi-ar.init",
"ae-ar",
"ae-ar.fina",
"fathatan-ar.medi",
"kashidaFina-ar",
"kasra-ar.medi",
"kashida-ar",
"fatha-ar.medi",
"damma-ar.medi",
"shadda-ar.medi",
"sukun-ar.medi",
"lam_alef-ar",
"lam_alef-ar.fina",
"lam_alefHamzaabove-ar",
"lam_alefHamzaabove-ar.fina",
"lam_alefHamzabelow-ar",
"lam_alefHamzabelow-ar.fina",
"lam_alefMadda-ar",
"lam_alefMadda-ar.fina",
"allah-ar",
"decimalseparator-ar",
"thousandseparator-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zeroFarsi-ar",
"oneFarsi-ar",
"twoFarsi-ar",
"threeFarsi-ar",
"fourFarsi-ar",
"fiveFarsi-ar",
"sixFarsi-ar",
"sevenFarsi-ar",
"eightFarsi-ar",
"nineFarsi-ar",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
space,
nbspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
CR,
.notdef,
"comma-ar",
"semicolon-ar",
"question-ar",
"dateseparator-ar",
"parenleft-ar",
"parenright-ar",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
colon.case,
periodcentered.loclCAT,
period.tf,
comma.tf,
colon.tf,
semicolon.tf,
numbersign.tf,
colon.tf.case,
hyphen,
endash,
emdash,
hyphentwo,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
rial,
"percent-ar",
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
minute,
second,
bar,
brokenbar,
literSign,
dagger,
daggerdbl,
estimated,
numero,
kelvin,
section.tf,
registered.ss01,
cent,
currency,
dollar,
euro,
hryvnia,
liraTurkish,
ruble,
sterling,
tenge,
tugrik,
yen,
cent.tf,
currency.tf,
dollar.tf,
euro.tf,
hryvnia.tf,
liraTurkish.tf,
ruble.tf,
sterling.tf,
tenge.tf,
tugrik.tf,
yen.tf,
bulletoperator,
commercialMinusSign,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
partialdiff,
micro,
percent,
perthousand,
divide.alt,
plus.tf,
minus.tf,
multiply.tf,
divide.tf,
equal.tf,
notequal.tf,
greater.tf,
less.tf,
greaterequal.tf,
lessequal.tf,
plusminus.tf,
approxequal.tf,
logicalnot.tf,
percent.tf,
lozenge,
"tahabove-ar",
"alefabove-ar",
"hamzaabove-ar",
"hamzaabove_fatha-ar",
"hamzaabove_damma-ar",
"hamzabelow-ar",
"fathatan-ar",
"fathatan_shadda-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"fatha_shadda-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"shadda_fathatan-ar",
"shadda_dammatan-ar",
"shadda_fatha-ar",
"shadda_damma-ar",
"sukun-ar",
"madda-ar",
"dammainverted-ar",
"vabove-ar",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
strokeshortcomb,
strokelongcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
dieresiscomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
cedillacomb.case,
circumflexcomb.i,
circumflexcomb.case.i,
caroncomb.alt,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
commaturnedmod,
arabic_2dots,
arabic_3dots,
arabic_3dots_a,
arabic_dot,
arabic_gaf_bar,
NameMe.303,
NameMe.304,
NameMe.305,
NameMe.306,
NameMe.65541,
NameMe.65542,
NameMe.65567,
NameMe.65574
)